.header{
    color: red;
    background-color: black;
}
.header1{
    color: white;
    background-color: black;

    
}
.header2{
    color: pink;
    background-color: brown;
}
.wo{
    text-align: center;
}
.hidden{
    display:none;
}