@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rowdies", cursive;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("images/bg_image4.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.container::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #1f1f1f9a;
  z-index: 2;
}
.card {
  position: absolute;
  z-index: 3;
  width: 100%;
}
.win_head{
    color: white;
    text-align: center;
    font-size: 3rem;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}
.gifwin{
    width: 100px;
    padding-left: 1rem;
}
.winby{
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}
td,th{
    padding: 1rem;
}
table{
    
    margin: 2rem auto;
    color: white;
    letter-spacing: 1px;
    border-collapse: collapse;
}
td,th{
    border: 3px solid white;
    text-align: center;
    
}