
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* .op{
    background-image: linear-gradient(to right,#000000,#0f9b0f);
} */
input[type="range"] {
    filter: hue-rotate(288deg); 
  }