@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --dark1: #112d4e;
  --dark2: #3f72af;
  --light1: #dbe2ef;
  --light2: #f9f7f7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.container1 {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: linear-gradient(160deg, var(--dark1) 0%, var(--dark2) 120%);
  margin: 0 auto;
}
.activey {
  display: block;
}
.btn {
  margin: auto;
  text-align: center;
  max-width: 60%;
  margin-top: 2rem;
}
.activen {
  display: none;
}
.bg {
  background-color: rgba(219, 226, 239, 0.5);
}
.ch {
  appearance: none;
  background-color: rgba(219, 226, 239, 0.5);
}
.ch::placeholder {
  color: var(--light1);
}
.ch:focus {
  outline: none;
  border-image: none;
  appearance: none;
  outline: 3px solid var(--light1);
}
